#bloc-page
{
	width: 900px;
	margin: auto;
}

body
{
	background-color: silver;
	color: black;
}

header
{
	background-color: whitesmoke;
	border-bottom: 5px rgb(255, 0, 0) solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#profil
{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

#profil
{
	width: 30px;
	height: 30px;
}

#logo
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

#logo
{
	width: 80px;
	height: 80px;
}

section
{
	width: 900px;
	margin: auto;
	margin-top: 25px;
	padding: 10px;
}

h1
{
	background-color: rgb(255, 0, 0);
}

.partenaires
{
	background-color: silver;
}

#groupes_bancaires
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: rgb(255, 0, 0) solid;
	background-color: whitesmoke;
}

h2
{
	background-color: rgb(255, 0, 0);	
}

h3
{
	background-color: rgb(255, 0, 0);	
}

#partenaires h2
{
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: rgb(255, 0, 0) solid;
	background-color: whitesmoke;
}

footer
{
	background-color: whitesmoke;
	border-top: 5px rgb(255, 0, 0) solid;
	display: flex;
	justify-content: center;
	align-items: center;	
}

 #partenaires a
{
	background-color: whitesmoke;
	color: black;
	justify-content: flex-end;
	align-items: flex-end;
}

h3
{
	background-color: rgb(255, 0, 0);
}

#posts p
{
	border: black solid 1px;
}

#commentaire button
{
	border: black solid 0.5px;
}

#container
{
	width: 900px;
	margin: 0 auto;
	margin-top: 10%;
}

form
{
	width: 100%;
	padding: 30px;
	border: 1px solid rgb(255, 0, 0);
	background: rgb(255, 0, 0);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
}

#container h1
{
	width: 38%;
	margin: 0 auto;
	padding-bottom: 10px;
}

input[type=text], input[type=password]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
}

input[type=submit]
{
	background-color:  whitesmoke;
	color: rgb(255, 0, 0);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover
{
	background-color: whitesmoke;
	color: rgb(255, 0, 0);
	border: 1px solid black;
}





