#bloc-page
{
	width: 900px;
	margin: auto;
}

body
{
	background-color: silver;
	
}

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width:  auto;
    }
}

.menu
{
	width: auto;
	margin-bottom: 20px;
	background-color: black;
	border: 2px rgb(255, 0, 0) solid;
}

nav ul
{
	display: flex;
	justify-content: flex-end;
}

nav li
{
	margin-right: 25px;
}

nav a
{
	font-size: 1.1em;
	color: white;
	text-decoration: none;
}

nav a:hover
{
color: rgb(255, 0, 0);
}

header
{
	width: auto;
	background-color: whitesmoke;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#profil 
{
	width: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 35px;

}

#profil
{
	width: 30px;
	height: 30px;
}

#logo
{
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

#logo
{
	width: auto;
	width: 80px;
	height: 80px;
}

#commentaire
{

	margin: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

#like
{
	margin: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-left: 100px;
	margin-right: 0px;
}

#dislike 
{
	
	margin: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-left: 10px;
	margin-right: 0px;
}

#new
{
	margin: auto;
	width: auto;
	margin-bottom: 20px;
	margin-left: auto;
	margin-left:20px;
	margin-right: 400px;
	height: 25px;
    right: 5px;
    bottom: 1px;
    background: rgb(255, 0, 0);
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    padding: 3px 8px 5px 8px;
    color: white;
    text-decoration: none;
}

#commentaire [id=retour]
{
	position: absolute;
	margin-left: 15px;
}

#posts 
{
	text-align: justify;
	overflow: auto;
	word-wrap: break-word;
}

#posts i
{
	margin-left: 30px;
	margin-right: 70px;
}

#posts p
{
	height: 40px;
	margin: 10px;
	background: rgb(43, 42, 42);
	border: 1px solid #760001;
	border-radius: 10px;
	padding: 3px 8px 2px 4px;
	color: white;

}

	section
	{
	min-width: 150px;
	max-width: 900px;
	max-height: 100%;
	min-height: 5%;
	margin: auto;
	margin-top: 25px;
	padding: 10px;
	padding: auto;
	}

section p
{
	margin: auto;
	text-align: justify;
	overflow: auto;
	word-wrap: break-word;
}

h1 
{
	height: 25px;
    right: 5px;
	bottom: 1px;
	background-color: rgb(255, 0, 0);
	border-bottom: 1px solid #760001;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
    padding: 3px 8px 5px 8px;
    color: white;
    text-decoration: none;
}

h2
{
	background-color: rgb(255, 0, 0);
	border-bottom: 1px solid #760001;
	height: 20px;
    right: 5px;
	bottom: 1px;
	border-radius: 5px;
    font-size: 1.3em;
    text-align: center;
    padding: 3px 8px 5px 8px;
    color: white;
    text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#groupes_bancaires
{
	min-width: 20%;
	max-width: 100%;
	max-height: 100%;
	min-height: 20%;
	margin: auto;
	padding: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: rgb(255, 0, 0) solid;
	background-color: whitesmoke;
}


#groupes_bancaires img
{
	min-width: 10%;
	max-width: 100%;
	max-height: 100%;
	min-height: 10%;
	margin: auto;
	align-content: space-around;

}


h3
{
	margin-top: 50px;
	background-color: rgb(255, 0, 0);
	border-bottom: 1px solid #760001;
	height: 20px;
    right: 5px;
	bottom: 1px;
	border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 5px 8px;
    color: white;
    text-decoration: none;
	text-align: center;
	
}

#conteneur 
{
	display: flex;
	flex-direction: column;
	align-items: row;
	align-content: center;
	
}

.description
{
	margin-top: 20px;
	margin-left: 10px;
}

.suite
{
	align-self: flex-end;
	margin-top: 20px;
	height: 15px;
    right: 5px;
    bottom: 1px;
    background: rgb(255, 0, 0);
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    padding: 3px 8px 3px 8px;
    color: white;
    text-decoration: none;
	
}

.suite a
{
	color: white;
	text-decoration: none;
}

footer
{
	width: auto;
	background-color: whitesmoke;
	border-top: 5px rgb(255, 0, 0) solid;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#container
{
	display: flex;
	max-height: 100%;
	min-width: 30%;
	max-width: 900px;
	width: auto;
	margin: auto;
	margin-top: 10%;
	background-color: silver;
}

form
{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	min-width: 30%;
	width: auto;
	padding: 30px;
	border: 1px solid rgb(255, 0, 0);
	background: rgb(255, 0, 0);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
}

#container h1
{
	max-width: auto;
	min-width: 5%;
	margin: auto;
	padding-bottom: 10px;
}

input[type=text], input[type=password]
{
	width: auto;
	padding: 14px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
}

input[type=submit]
{
	background-color:  whitesmoke;
	color: rgb(255, 0, 0);
	padding: 14px 20px;
	margin: auto;
	border: none;
	cursor: pointer;
	min-width: 40%;
}

input[type=submit]:hover
{
	background-color: rgb(43, 42, 42);
	color: rgb(255, 0, 0);
	border: 1px solid black;
}






